@import url("technor.css");

/* Layout  */
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* vertical center   */
  align-content: center;
  /*  extend to viewport height  */
  height: 100vh;
}

main time {
/*  center content  */
  text-align: center;
}

time{
  font-family: "Technor-Regular";
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "hours minutes seconds amOrPM"
  "month dayOfMonth year dayOfWeek";
}

.time {
  font-size: 3rem;
}

.date {
  font-size: 2rem;
}

.hours {
  grid-area: hours;
}

.minutes {
  grid-area: minutes;
}

.seconds {
  grid-area: seconds;
}

.amOrPM {
  grid-area: amOrPM;
}

.month {
  grid-area: month;
}

.dayOfMonth {
  grid-area: dayOfMonth;
}

.year {
  grid-area: year;
}

.dayOfWeek {
  grid-area: dayOfMonth;
}