@import url("technor.css");

/* Layout  */
main {
  display: grid;
  /* vertical center   */
  align-content: center;
  /*  extend to viewport height  */
  height: 100vh;
  grid-template-columns: 1fr;
}

main time {
/*  center content  */
  text-align: center;
}

.time {
  font-family: "Technor-Medium";
  font-size: 6rem;
  width: 720px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr 2fr;
  grid-template-areas:
  "hours . minutes . seconds . amOrPM";
}

.date {
  font-size: 2rem;
  font-family: "Technor-Light";
}

.hours {
  grid-area: hours;
}

.minutes {
  grid-area: minutes;
}

.seconds {
  grid-area: seconds;
}

.amOrPM {
  grid-area: amOrPM;
}

.month {
  grid-area: month;
}

.dayOfMonth {
  grid-area: dayOfMonth;
}

.year {
  grid-area: year;
}

.dayOfWeek {
  grid-area: dayOfMonth;
}